spring:
  datasource:
    driver-class-name: org.mariadb.jdbc.Driver
    url: jdbc:mariadb://${DB_URL}/${DB_NAME}?useSSL=false&serverTimezone=Asia/Seoul&allowPublicKeyRetrieval=true&characterEncoding=UTF-8
    username: ${DB_USER}
    password: ${DB_PASSWORD}
  redis:
    port: ${REDIS_PORT}
    host: ${REDIS_HOST}
  servlet:
    multipart:
      max-file-size: 500MB
      max-request-size: 500MB
  jpa:
    database-platform: org.hibernate.dialect.MariaDB105Dialect
server:
  port: 8000
jwt:
  accessSecret: ${JWT_ACCESS_KEY}
  refreshSecret: ${JWT_REFRESH_KEY}
cloud:
  aws:
    stack:
      auto: false
    s3:
      bucket: ${S3_BUCKET}
      url: ${S3_URL}
    region:
      static: ${S3_REGION}
      auto: false
    credentials:
      access-Key: ${S3_ACCESS_KEY}
      secret-Key: ${S3_SECRET_KEY}